{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    <title>CRUD</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container mt-4 center">
        <div class="col-9 col-md-10 mx-auto">
            {% block content %}
            
            {% endblock content %}
        </div>
    </div>
    {% bootstrap_javascript jquery='full' %}  
</body>
</html>