{% extends 'base.html' %}
{% block content %}
    <div><center><h1>Listado de oficinas</h1></center></div>
    <div class="d-flex justify-content-center mt-1">
        <div class="card shadow p-3" style="width: 500px; margin-bottom: 1px;">
            {% if oficinas %}
                <ul class="list-group">
                    {% for oficina in oficinas %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{ oficina.nombre }} 
                            <div>
                                <a href="{% url 'oficina:detalle' oficina.id %}" class="btn btn-sm btn-primary">Ver</a> -
                                <a href="{% url 'oficina:editar' oficina.id %}" class="btn btn-sm btn-warning">Modificar</a> -
                                <a href="{% url 'oficina:eliminar' oficina.id %}" class="btn btn-sm btn-danger">Eliminar</a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <div class="d-flex justify-content-center mt-1">
                    {% include 'paginator.html' %}
                </div>
            {% else %}
                <p class="text-center mt-3">No hay oficinas registradas.</p>
            {% endif %}
        </div>
    </div>
{% endblock content %}
    